h1 {
    text-align: center;
}
.right {
    display: flex;
    justify-content: flex-end;
}

.about-blurb > li {
    list-style: none;
    background: #5DD904;
    border-radius: 50%;
    height: 100px;
    width: 100px;   
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.about-blurb {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
    padding: 0;
}

@media screen and (min-width: 600px) {
    .about-blurb {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}