.left {
    height: 25vh;
    background-image: url('https://user-images.githubusercontent.com/54726437/91745571-c617a100-eb80-11ea-8a57-ba4c5de148b8.png');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
}


/* monitor viewport size background-image: url('https://user-images.githubusercontent.com/54726437/91745571-c617a100-eb80-11ea-8a57-ba4c5de148b8.png'); */